<template>
  <div class="global-selections">
    <span
      @click="clearAll"
      class="lui-icon lui-icon--large lui-icon--clear-selections pointer center"
      aria-hidden="true"
      title="Clear all selection"
    ></span>
    <span
      @click="selectionBack"
      class="lui-icon lui-icon--large lui-icon--selections-back pointer center"
      aria-hidden="true"
      title="Step back"
    ></span>
    <span
      @click="selecitonForward"
      class="lui-icon lui-icon--large lui-icon--selections-forward pointer center"
      aria-hidden="true"
      title="Step forward"
    ></span>
  </div>
</template>

<script>
import { EventBus } from "../event-bus/event-bus.js";

export default {
  name: "GlobalSelections",
  props: [],
  methods: {
    clearAll() {
      let _this = this;
      EventBus.$emit("clearAll");
    },
    selectionBack() {
      EventBus.$emit("selectionBack");
    },
    selecitonForward() {
      EventBus.$emit("selecitonForward");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.global-selections {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f2f2f2;
}

.center {
  align-self: center;
  justify-self: center;
}

.pointer {
  cursor: pointer;
}
</style>
