<template>
  <div @click.self="openDropDown" class="selection-field-info pointer">
    <div
      @click="openDropDown"
      class="field-name pointer"
      :title="fieldData.qListObject.qDimensionInfo.qFallbackTitle"
    >{{fieldData.qListObject.qDimensionInfo.qFallbackTitle}}</div>

    <div @click="openDropDown" class="field-counts pointer">
      <div class="progressBarContainer">
        <div id="progressBar" class="progressBar" :style="{'width': selectionProgress}"></div>
      </div>
    </div>

    <div class="field-clear">
      <span
        @click="clearAllField"
        class="lui-icon lui-icon--small lui-icon--remove pointer clear-icon"
        aria-hidden="true"
        title="Clear selection"
      ></span>
    </div>

    <qlik-field
      v-if="activeSelectionFieldId == id"
      :clickAway="false"
      :qData="fieldData.qListObject.qDataPages[0].qMatrix"
      class="test"
      @clearAll="clearAllField"
      @selectAll="selectAll"
      @selectAlternative="selectAlternative"
      @selectExcluded="selectExcluded"
      @lock="lock"
      @clicked="clicked"
    />
  </div>
</template>

<script>
function uuid() {
  return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function(c) {
    var r = (Math.random() * 16) | 0,
      v = c == "x" ? r : (r & 0x3) | 0x8;
    return v.toString(16);
  });
}

import QlikField from "sense-field-vue";
import { EventBus } from "../event-bus/event-bus.js";

// {{fieldData.qListObject.qDimensionInfo.qStateCounts.qSelected}}/{{fieldData.qListObject.qDimensionInfo.qCardinal}}
export default {
  name: "Selection",
  components: {
    QlikField
  },
  props: {
    activeSelectionFieldId: {
      type: String,
      required: false
    },
    fieldData: {
      type: Object,
      required: false
      // default: function() {
      //   return {
      //     fieldName: ""
      //   };
      // }
    }
  },
  data() {
    return {
      id: "",
      selectionProgress: "100%"
    };
  },
  methods: {
    openDropDown: function() {
      let _this = this;

      if (_this.activeSelectionFieldId != _this.id) {
        _this.$emit("activateField", this.id);
      } else {
        _this.$emit("activateField", "");
      }
    },
    clearAllField() {
      EventBus.$emit(
        "clearAllField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle
      );
    },
    selectAll() {
      EventBus.$emit(
        "selectAllField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle
      );
    },
    selectAlternative() {
      EventBus.$emit(
        "selectAlternativeField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle
      );
    },
    selectExcluded() {
      EventBus.$emit(
        "selectExcludedField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle
      );
    },
    lock() {
      EventBus.$emit(
        "lockField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle
      );
    },
    clicked(value) {
      // console.log(value)
      EventBus.$emit(
        "clickedField",
        this.fieldData.qListObject.qDimensionInfo.qFallbackTitle,
        value
      );
    }
  },
  mounted: function() {
    let id = uuid();
    this.id = id;
    this.fieldData.fieldName = id;

    this.selectionProgress = (1 / 10) * 100 + "%";
  },
  watch: {
    activeSelectionFieldId: function(newVal, oldVal) {
      let _this = this;
      // if(_this.id != newVal) {

      // }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.selection-field-info {
  align-self: center;
  width: 200px;
  height: 48px;
  display: grid;
  grid-template-columns: 180px 20px;
  grid-template-rows: auto 15px;
  /* border-style: solid; */
  /* border-width: 0px; */
  /* border-top: 1px;
  border-bottom: 1px;
  border-right: 1px;
  border-width: 1px; */
  /* border-color: rgb(217, 217, 217); */
  background-color: #ffffff;
}

.field-name {
  align-self: center;
  padding-left: 10px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: bold;
}

.field-counts {
  align-self: center;
  font-size: 12px;
  /* padding-left: 5px; */
  grid-column-start: 1;
  grid-column-end: 2 span;
  text-align: center;
}

.field-clear {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.pointer {
  cursor: pointer;
}

.test {
  /* background-color: red; */
  position: absolute !important;
  margin-top: 50px;
}

.progressBarContainer {
  width: 90%;
  height: 3px;
  margin-left: 5%;
  background-color: #e6e6e6;
  /* border: 0px black solid; */
}

.progressBar {
  /* width: 73%; */
  height: 100%;
  background-color: #52cc52;
}

.clear-icon {
  margin-right: 5px;
  color: darkgray;
}
</style>
