<template>
  <div id="SenseSelectionBarVue">
    <global-selectioins/>

    <div
      class="current-selections"
      :style="{'grid-template-columns': `repeat(${test.length}, 200px)`}"
    >
      <selection-field
        v-for="testval in test"
        :key="testval.qListObject.qDimensionInfo.qFallbackTitle"
        :fieldData="testval"
        :activeSelectionFieldId="activeSelectionFieldId"
        @activateField="activateField"
      />

      <div v-if="test.length == 0">No active selections</div>
    </div>
  </div>
</template>

<script>
import QlikField from "sense-field-vue";
import GlobalSelectioins from "@/components/GlobalSelections.vue";
import SelectionField from "@/components/SelectionField.vue";
import { EventBus } from "./event-bus/event-bus.js";

export default {
  name: "SenseSelectionBar",
  components: {
    QlikField,
    GlobalSelectioins,
    SelectionField
  },
  provide: {
    test: function(t) {
      return this.testMethods(t);
    }
  },
  data() {
    return {
      test: [],
      activeSelectionFieldId: ""
    };
  },
  methods: {
    activateField: function(id) {
      this.activeSelectionFieldId = id;
    },
    testMethods: function(t) {
      console.log(t);
    }
  },
  mounted: function() {
    let _this = this;

    _this.test.push(fakeData());

    let newData = fakeData();
    newData.qListObject.qDimensionInfo.qFallbackTitle =
      newData.qListObject.qDimensionInfo.qFallbackTitle + " 1";
    _this.test.push(newData);

    newData = fakeData();
    newData.qListObject.qDimensionInfo.qFallbackTitle =
      newData.qListObject.qDimensionInfo.qFallbackTitle + " 2";
    _this.test.push(newData);
  },
  created() {
    let _this = this;

    EventBus.$on("clearAll", function() {
      _this.$emit("clearAll");
      console.log("clearAll");
    });

    EventBus.$on("clearAllField", function(fieldName) {
      _this.$emit("clearAllField");
      console.log(fieldName);
    });

    EventBus.$on("selectionBack", function() {
      _this.$emit("selectionBack");
      console.log("selectionBack");
    });

    EventBus.$on("selecitonForward", function() {
      _this.$emit("selecitonForward");
      console.log("selecitonForward");
    });

    ////

    EventBus.$on("selectAllField", function(fieldName) {
      _this.$emit("selectAllField");
      console.log(fieldName);
    });

    EventBus.$on("selectAlternativeField", function(fieldName) {
      _this.$emit("selectAlternativeField");
      console.log(fieldName);
    });

    EventBus.$on("selectExcludedField", function(fieldName) {
      _this.$emit("selectExcludedField");
      console.log(fieldName);
    });

    EventBus.$on("lockField", function(fieldName) {
      _this.$emit("lockField");
      console.log(fieldName);
    });

    EventBus.$on("clickedField", function(fieldName, data) {
      _this.$emit("clickedField");
      console.log(fieldName, data);
    });
  }
};

function fakeData() {
  return {
    qListObject: {
      qSize: {
        qcx: 1,
        qcy: 70
      },
      qDimensionInfo: {
        qFallbackTitle: "Product Sub Group",
        qApprMaxGlyphCount: 3,
        qCardinal: 70,
        qSortIndicator: "A",
        qGroupFallbackTitles: ["Product Sub Group"],
        qGroupPos: 0,
        qStateCounts: {
          qLocked: 0,
          qSelected: 1,
          qOption: 0,
          qDeselected: 0,
          qAlternative: 69,
          qExcluded: 0,
          qSelectedExcluded: 0,
          qLockedExcluded: 0
        },
        qTags: ["$key", "$numeric", "$integer"],
        qDimensionType: "N",
        qGrouping: "N",
        qNumFormat: {
          qType: "U",
          qnDec: 0,
          qUseThou: 0
        },
        qIsAutoFormat: true,
        qGroupFieldDefs: ["Product Sub Group"],
        qMin: 0,
        qMax: 0,
        qAttrExprInfo: [],
        qAttrDimInfo: [],
        qCardinalities: {
          qCardinal: 70,
          qHypercubeCardinal: 0
        }
      },
      qExpressions: [],
      qDataPages: [
        {
          qMatrix: [
            [
              {
                qText: "3",
                qNum: 3,
                qElemNumber: 0,
                qState: "S"
              }
            ],
            [
              {
                qText: "1",
                qNum: 1,
                qElemNumber: 26,
                qState: "X"
              }
            ],
            [
              {
                qText: "2",
                qNum: 2,
                qElemNumber: 69,
                qState: "X"
              }
            ],
            [
              {
                qText: "4",
                qNum: 4,
                qElemNumber: 24,
                qState: "X"
              }
            ],
            [
              {
                qText: "5",
                qNum: 5,
                qElemNumber: 56,
                qState: "X"
              }
            ],
            [
              {
                qText: "6",
                qNum: 6,
                qElemNumber: 65,
                qState: "X"
              }
            ],
            [
              {
                qText: "8",
                qNum: 8,
                qElemNumber: 36,
                qState: "X"
              }
            ],
            [
              {
                qText: "9",
                qNum: 9,
                qElemNumber: 23,
                qState: "X"
              }
            ],
            [
              {
                qText: "10",
                qNum: 10,
                qElemNumber: 64,
                qState: "X"
              }
            ],
            [
              {
                qText: "11",
                qNum: 11,
                qElemNumber: 32,
                qState: "X"
              }
            ]
          ],
          qTails: [],
          qArea: {
            qLeft: 0,
            qTop: 0,
            qWidth: 1,
            qHeight: 70
          }
        }
      ]
    }
  };
}
</script>

<style>
.current-selections {
  display: grid;
  grid-column-gap: 1px;
  justify-items: start;
  justify-content: start;
  /* grid-column-gap: 0px; */
  background-color: #e6e6e6;
  grid-auto-flow: row;
  overflow-y: hidden;
  overflow-x: auto;
  height: 50px;
}

#SenseSelectionBarVue {
  display: grid;
  grid-template-columns: 100px auto;
  border-color: rgb(217, 217, 217);
  border-width: 0px 0px 2px 0px;
  height: 50px;
}
</style>
